@import './variables.scss';

* {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: $background-color;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  overflow-x: none;
  min-width: 100%;
}
.dropdown-item {
  white-space: normal !important;
}
.dropdown-menu {
  min-width: 12rem !important;
  right: 10px !important;
}
html {
  font-size: $base-font-size;
}
@media (max-width: 395px) {
  html {
    font-size: 14px;
  }
  .dropdown {
    max-width: 18rem;
    max-height: 29rem;
  }
}
@media (max-width: 290px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 230px) {
  html {
    font-size: 8px;
  }
  .dropdown {
    max-width: 1rem;
    max-height: 31rem;
  }
}
@media (max-width: 170px) {
  html {
    font-size: 6px;
  }
}
.container {
  min-width: 100%;
}

.ratio {
  display: grid;

  & > * {
    grid-area: 1/1;
  }
}

.profilePostsMarginRight {
  margin-right: -240px !important;
  @media screen and (max-width: 992px) {
    margin-right: -15px !important;
  }
}

.paddingLeftImportant {
  padding-left: 0 !important;
}

.pagination {
  padding-top: 3.125rem;
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}
.pagination a {
  display: flex;
  flex-wrap: wrap;
  padding: 0.13rem 0.5rem;
  border: 1px solid $color-purple;
  color: $color-purple;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link__active a {
  color: #fff;
  background: $color-purple;
}

.pagination__link__disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

code {
  font-size: 87.5%;
  background-color: #a09797;
  color: black;
  padding: 7px;
  word-wrap: break-word;
  font-family: monospace;
}

strong {
  font-weight: 800;
}
img {
  max-width: 100%;
  height: auto;
}

blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid lighten(#000, 40%);
  font-family: 'Roboto', serif;
  font-size: $blockquote-font-size;
  line-height: $base-line-height;
  font-weight: 100;
  &:before,
  &:after {
    content: '\201C';
    font-family: 'Sanchez';
    color: lighten(#000, 40%);
  }
  &:after {
    content: '\201D';
  }
}

.tag {
  display: inline-block;
  background-color: $color-purple;
  transition: all 0.2s;
  font-size: 0.86rem;
  opacity: 0.8;

  &:hover {
    background-color: $color-purple-light;
  }
}

.fade-it {
  padding: 15px;
}
@-webkit-keyframes yellow-fade {
  from {
    background: rgb(0, 157, 255);
    opacity: 0.5;
  }
  to {
    background: $background-color;
  }
}
@keyframes yellow-fade {
  from {
    background: rgb(0, 157, 255);
    opacity: 0.5;
  }
  to {
    background: $background-color;
    opacity: 1;
  }
}
.fade-it {
  -webkit-animation: yellow-fade 2s ease-in-out 0s;
  animation: yellow-fade 2s ease-in-out 0s;
}

.nav-link {
  font-size: 0.9rem;
}

#card-exclude-style {
  box-shadow: none;
  background-color: $background-color;
}
