.tags_input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 6px;
  &:focus-within {
    border: 1px solid #0052cc;
  }
  input {
    flex: 1;
    border: none;
    height: 2.8756rem;
    font-size: 0.8756rem;
    padding: 4px 0 0 0;
    &:focus {
      outline: transparent;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

.tag {
  width: auto;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 0.5rem;
  font-size: 0.8756rem;
  list-style: none;
  border-radius: 6px;
  margin: 0 0.5rem 0.5rem 0;
  background: #0052cc;
  .tag_title {
    margin-top: 3px;
  }
  .tag_close_icon {
    display: block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.8756rem;
    margin-left: 0.5rem;
    color: #0052cc;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
}
.container {
  margin-top: 2rem;
  border: 1px solid rgb(189, 190, 197);
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.heading {
  margin-top: 5rem;
  width: 80%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}
@media screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
  .heading {
    width: 100%;
  }
}
@media screen and (max-width: 319px) {
  .heading {
    padding-left: 1.7rem;
  }
}
